body {
    background-color: black;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightslategrey;
    padding-left: 100px;
    /*font-family: "Times New Roman";*/
}

.header-text h1 {
    margin: 0;

}

.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.topnav li {
    margin-left: 10px;
}

.topnav li a {
    text-decoration: none;
    color: white;
    padding-right: 10px;
}



#logo {
    height: 80px;
    position: absolute;
    left: 5px;
    top: 0;
}

#header2 {
    text-align: center;
    background-color: grey;
    color: black;
    margin-top:1px ;
}

.main
{
    display: inline;
    text-align: center;
    color: white;
    padding-right: 0;

}


#black_jeans{
    width: 200px;
    border: black;
}


#hoodie {
    width: 200px;
    border: black;
}
#white_t_shirt {
    width: 200px;
    border: black;
}

#forces {
    width: 300px;
    border: black;
}
#vans {
    width: 200px;
    border: black;
}
#khakis {
    width: 200px;
    border: black;

}

.ads{
    float: right;
    display: inline;
    color: white;
}
.footer_links {
    text-align: center;
    padding-top: 700px;
    font-size: 20px;
    color: white;

}

::placeholder {
    color: black;
}


.red-placeholder::placeholder {
    color: red;
}

textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
    resize: none;
    overflow: hidden;
}